<aside class="sidebar d-flex flex-column h-100">
    <div>
        <span class="bi bi-android fs-1 p-3s"> Dr. Oid</span>
    </div>
    <ul class="m-0 p-0">
        <li role="button" class="p-3">
            <i class="bi bi-house-door"></i>
            Dashboard
        </li>
        <li role="button" class="p-3">
            <i class="bi bi-file-earmark-check-fill"></i>
            Orders
        </li>
        <li role="button" class="p-3"><i class="bi bi-bag"></i>
            Products
        </li>
        <li role="button" class="p-3"><i class="bi bi-person-circle"></i>
            Customers
        </li>
        <li role="button" class="p-3"><i class="bi bi-chat-dots"></i>
            Messages
        </li>
        <li role="button" class="p-3">
            <i class="bi bi-gear"></i> Settings
        </li>
    </ul>
    <div class="mt-auto text-center">
        <button class="btn btn-primary mb-4" (click)="onLogout()">logout</button>
    </div>
</aside>